.Video_nav>a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(255,64,1);
}
section{
    width: 98%;
    margin: 0 auto;
}
.Video_nav{
    padding-top: 80px;
}
.video_border{
    width: 1280px;
    height: 640px;
    margin: 30px auto;
}
video{
    width: 1280px;
    height: 640px;
}
.floatL{
    float: left;
}
.pinglunBorder_img{
    width: 100px;
    height: 100px;
}
.pinglunContent{
    padding: 10px 50px;
}
.pinglun_PerInfo{
    font-size: 13px;
    color: #969696;
}
.Clear{
    clear: both;
}
.Username{
    display: inline-block;
    width: 400px;

}
.pinglun{
    width: 1280px;
    margin: 0 auto;
}
.wupinglun{
    line-height: 50px;
    text-align: center;
}
.comment_img{
    width: 100px;
    height: 100px;
}
.comment_img1{
    width: 300px;
    height: 300px;
}
.pinglun_huifu>input{
    width: 500px;
    height: 100px;
}
.denglutixing{
    text-align: center;
    line-height: 50px;
}
.denglutixing>a{
    color: #ff291e;
}